@import url('custom.css');

@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  font-size: 16px;
}

body {
  background-color: #1f2937;
  color: white;
}

:root {
  scroll-behavior: smooth;
}
